body{
    background-color: rgb(58, 56, 56);
    margin: 0;
    padding: 0;
}
h1{
    color: rgb(52, 241, 68);
    margin-left: 450px;
}
.container{
    background-color: rgb(162, 207, 246);
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    margin-left: 400px;
    

    
}
.display{
    padding: 5px;
    margin-top: 80px;
    font-weight: bold;
    font-size: 20px;
    
}
#btn1{
    margin-top: 30px;
    color: blue;
    padding: 5px;
    height: 50px;
    width: 100px;
    border-radius: 5%;
    cursor: pointer;
    box-shadow: 0 0 10px #fb47b9;
    font-weight: bold;
}
#btn2{
    
    margin-top: 5px;
    color: blue;
    padding: 5px;
    height: 50px;
    width: 100px;
    cursor: pointer;
    box-shadow: 0 0 10px #fb47b9;
    font-weight: bold;
}
#btn3{
     
    margin-top: 5px;
    color: blue;
    padding: 5px;
    height: 50px;
    width: 100px;
    cursor: pointer;
    box-shadow: 0 0 10px #fb47b9;
    font-weight: bold;
}
 